<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="heading">
        <h1 class="ml-15">Bloggers View</h1>
    </div>
    <% for(let item of products){ %>
        <div class="col-lg-4 product-card">
            <div class="card text-center shadow mt-3 mx-auto" style="width: 18rem;">
                <!-- <img class="img" src="<%=item.authorName%>" class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h3 class="card-title"> <%= item.blogContent %> </h3>
                  <!-- <h3 class="card-title"> <%= item.furnitureName %> </h3> -->
                  <h5 class="card-title"><%= item.authorName %> </h5>
                  <!-- <p class="card-text"> <%= item.desc %> </p> -->
                  <a href="/blogs/<%=item._id%>" class="btn btnn btn-primary bg-warning">View Now</a>
                </div>
            </div>
        </div>
    <% } %>
</div>